.ErrorBoundary-dropdown {
  width: 800px;
}

.ErrorBoundary-dropdown-header {
  border-radius: 4px;
  color: white;
  transition: .5s all;
  background-color: #C9302C;
  opacity: .8;
  padding: 10px 20px;
  cursor: pointer;
}

.ErrorBoundary-dropdown-header:hover {
  opacity: 1;
}

.ErrorBoundary-dropdown-content {
  padding: 10px 20px;
  background-color: #ffe7e7;
  color: #B2211A;
}

.ErrorBoundary-error-message {
  display: block;
  padding: 20;
  color: black;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}