.ant-table-small>.ant-table-title {
  padding: 2px;
}

.ant-table-title > p {
  margin-bottom: 2px;
}

.ant-table table {
  border-collapse: collapse;
}

.ant-table-thead > tr > th:not(:last-child) {
  border-right: 1px solid #e8e8e8;
}

.ant-table-tbody > tr > td:not(:last-child) {
  border-right: 1px solid #e8e8e8;
}

.ant-table-tbody > tr.ant-table-expanded-row.ant-table-expanded-row-level-1 > td:first-child {
  border-right: none;
}

.ant-table-tbody > tr.ant-table-expanded-row.ant-table-expanded-row-level-1 > td:not(:first-child) div.ant-table-body > table > thead > tr > th {
  border-right: none;
}

.ant-table-tbody > tr.ant-table-expanded-row.ant-table-expanded-row-level-1 > td:not(:first-child) div.ant-table-body > table > tbody > tr > td {
  border-right: none;
}